In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv("disney_movies.csv", header=0, encoding='utf-8')
print (df)

                                movie_title  release_date              genre  \
0           Snow White and the Seven Dwarfs          1937            Musical
1                                 Pinocchio          1940          Adventure
2                                  Fantasia          1940            Musical
3                         Song of the South          1946          Adventure
4                                Cinderella          1950              Drama
5              20,000 Leagues Under the Sea          1954          Adventure
6                        Lady and the Tramp          1955              Drama
7                           Sleeping Beauty          1959              Drama
8                            101 Dalmatians          1961             Comedy
9               The Absent Minded Professor          1961             Comedy
10                         Babes in Toyland          1961            Musical
11                              Bon Voyage!          1962             Comedy
12                   The Sword in the Stone          1963          Adventure
13                          The Jungle Book          1967            Musical
14                       Blackbeard's Ghost          1968             Comedy
15                           The Aristocats          1970            Musical
16                             The Boatniks          1970             Comedy
17                 Bedknobs and Broomsticks          1971            Musical
18                  The Apple Dumpling Gang          1975             Comedy
19                            Freaky Friday          1977             Comedy
20   The Many Adventures of Winnie the Pooh          1977                NaN
21                             The Rescuers          1977          Adventure
22               Herbie Goes to Monte Carlo          1977                NaN
23                           The Black Hole          1979                NaN
24                         Midnight Madness          1980                NaN
25            The Last Flight of Noah’s Ark          1980                NaN
26                 The Devil and Max Devlin          1981                NaN
27                                      Amy          1981              Drama
28                    The Fox and the Hound          1981             Comedy
29                                Condorman          1981             Action
..                                      ...           ...                ...
549                 Guardians of the Galaxy          2014          Adventure
550                The Hundred-Foot Journey          2014    Romantic Comedy
551  Alexander and the Terrible, Horrible,…          2014             Comedy
552                              Big Hero 6          2014          Adventure
553                          Into the Woods          2014            Musical
554                           Strange Magic          2015          Adventure
555                          McFarland, USA          2015              Drama
556                              Cinderella          2015              Drama
557                          Monkey Kingdom          2015        Documentary
558                 Avengers: Age of Ultron          2015             Action
559                            Tomorrowland          2015          Adventure
560                              Inside Out          2015          Adventure
561                                 Ant-Man          2015             Action
562                         Bridge of Spies          2015  Thriller/Suspense
563                       The Good Dinosaur          2015          Adventure
564    Star Wars Ep. VII: The Force Awakens          2015          Adventure
565                        The Finest Hours          2016  Thriller/Suspense
566                                Zootopia          2016          Adventure
567                         The Jungle Book          2016          Adventure
568                      A Beautiful Planet          2016        Documentary
569              Captain America: Civil War          2016             Action
570         Alice Through the Looking Glass          2016          Adventure
571                            Finding Dory          2016          Adventure
572                                 The BFG          2016          Adventure
573                           Pete’s Dragon          2016          Adventure
574                The Light Between Oceans          2016              Drama
575                          Queen of Katwe          2016              Drama
576                          Doctor Strange          2016          Adventure
577                                   Moana          2016          Adventure
578            Rogue One: A Star Wars Story          2016          Adventure

    mpaa_rating  total_gross  inflation_adjusted_gross
0             G    184925485                5228953251
1             G     84300000                2188229052
2             G     83320000                2187090808
3             G     65000000                1078510579
4             G     85000000                 920608730
5           NaN     28200000                 528279994
6             G     93600000                1236035515
7           NaN      9464608                  21505832
8             G    153000000                1362870985
9           NaN     25381407                 310094574
10            G     10218316                 124841160
11    Not Rated      9230769                 109581646
12          NaN     22182353                 153870834
13    Not Rated    141843000                 789612346
14          NaN     21540050                 138612686
15            G     55675257                 255161499
16          NaN     18607492                 101200742
17          NaN     17871174                  91305448
18          NaN     31916500                 131246872
19          NaN     25942000                  98067733
20          NaN            0                         0
21          NaN     48775599                 159743914
22          NaN     28000000                 105847527
23          NaN     35841901                 120377374
24          NaN      2900000                   9088096
25          NaN     11000000                  34472116
26          NaN     16000000                  48517980
27          NaN            0                         0
28          NaN     43899231                 133118889
29          NaN            0                         0
..          ...          ...                       ...
549       PG-13    333172112                 343771168
550          PG     54235441                  55961409
551          PG     66954149                  69055550
552          PG    222527828                 229249222
553          PG    128002372                 130894237
554          PG     12429583                  12429583
555          PG     44480275                  44480275
556          PG    201151353                 201151353
557           G     16432322                  16432322
558       PG-13    459005868                 459005868
559          PG     93436322                  93436322
560          PG    356461711                 356461711
561       PG-13    180202163                 180202163
562       PG-13     72313754                  72313754
563          PG    123087120                 123087120
564       PG-13    936662225                 936662225
565          PG     27569558                  27569558
566          PG    341268248                 341268248
567          PG    364001123                 364001123
568           G      7895708                   7895708
569       PG-13    408084349                 408084349
570          PG     77042381                  77042381
571          PG    486295561                 486295561
572          PG     55483770                  55483770
573          PG     76233151                  76233151
574       PG-13     12545979                  12545979
575          PG      8874389                   8874389
576       PG-13    232532923                 232532923
577          PG    246082029                 246082029
578       PG-13    529483936                 529483936

[579 rows x 6 columns]

In [2]:
df["genre"].isnull().sum().sum()

17

In [3]:
df["mpaa_rating"].isnull().sum().sum()

56

In [7]:
df = df[df['genre'].notna()]
df["genre"].isnull().sum().sum()
print(df["release_date"].max())
print(df['release_date'].value_counts().sort_index())

2016
1937     1
1940     2
1946     1
1950     1
1955     1
1961     2
1962     1
1967     1
1970     1
1984     1
1986     3
1987     4
1988     7
1989     9
1990    14
1991    14
1992    19
1993    24
1994    27
1995    32
1996    27
1997    23
1998    22
1999    20
2000    19
2001    13
2002    21
2003    19
2004    19
2005    17
2006    19
2007    14
2008    13
2009    16
2010    14
2011    14
2012    10
2013    11
2014    12
2015    11
2016    14
Name: release_date, dtype: int64

In [8]:
df = df[df['mpaa_rating'].notna()]
df["mpaa_rating"].isnull().sum().sum()

0

In [9]:
df.loc[(df['release_date'] >= 1930) & (df['release_date'] < 1970), 'time'] = "1950s - 1970s"
df.loc[(df['release_date'] >= 1970) & (df['release_date'] < 1990), 'time'] = "1970s - 1990s"
df.loc[(df['release_date'] >= 1990) & (df['release_date'] < 1995), 'time'] = "1990 to 1995"
df.loc[(df['release_date'] >= 1995) & (df['release_date'] < 2000), 'time'] = "1995 to 2000"
df.loc[(df['release_date'] >= 2000) & (df['release_date'] < 2005), 'time'] = "2000 to 2005"
df.loc[(df['release_date'] >= 2005) & (df['release_date'] < 2010), 'time'] = "2005 to 2010"
df.loc[(df['release_date'] >= 2010) & (df['release_date'] < 2012), 'time'] = "2010 to 2012"
df.loc[(df['release_date'] >= 2012) & (df['release_date'] < 2014), 'time'] = "2012 to 2014"
df.loc[(df['release_date'] >= 2014) & (df['release_date'] < 2016), 'time'] = "2014 to 2016"
df.loc[(df['release_date'] >= 2016) & (df['release_date'] < 2017), 'time'] = "2016 to 2017"
print(df.head())

                       movie_title  release_date      genre mpaa_rating  \
0  Snow White and the Seven Dwarfs          1937    Musical           G
1                        Pinocchio          1940  Adventure           G
2                         Fantasia          1940    Musical           G
3                Song of the South          1946  Adventure           G
4                       Cinderella          1950      Drama           G

   total_gross  inflation_adjusted_gross           time
0    184925485                5228953251  1950s - 1970s
1     84300000                2188229052  1950s - 1970s
2     83320000                2187090808  1950s - 1970s
3     65000000                1078510579  1950s - 1970s
4     85000000                 920608730  1950s - 1970s

In [19]:
df["mpaa_rating"].value_counts()

PG           185
PG-13        141
R             98
G             86
Not Rated      3
Name: mpaa_rating, dtype: int64

In [10]:
df["inflation_adjusted_gross"].describe()

count    5.130000e+02
mean     1.275941e+08
std      3.014755e+08
min      2.984000e+03
25%      2.624856e+07
50%      5.967913e+07
75%      1.291642e+08
max      5.228953e+09
Name: inflation_adjusted_gross, dtype: float64

In [11]:
df["bins"] = pd.qcut(df["inflation_adjusted_gross"], q=20, precision=0)

In [13]:
# bin_labels_40 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]

# df["Hist_col"] = pd.qcut(df["inflation_adjusted_gross"], q=40, precision=0, labels = bin_labels_40)

In [12]:
df["midpoint"] = df["bins"].apply(lambda x: x.mid)

In [14]:
ct = {}
hist_col = []

for i in df["bins"]:
    if i in ct:
        ct[i] += 1
    else:
        ct[i] = 0
    hist_col.append(ct[i])
    
print (len(hist_col))

513

In [15]:
df["Hist_col"] = hist_col

In [16]:
df.head()

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross,time,bins,midpoint,Hist_col
0,Snow White and the Seven Dwarfs,1937,Musical,G,184925485,5228953251,1950s - 1970s,"(380100992.0, 5228953251.0]",2.804527e+09,0
1,Pinocchio,1940,Adventure,G,84300000,2188229052,1950s - 1970s,"(380100992.0, 5228953251.0]",2.804527e+09,1
2,Fantasia,1940,Musical,G,83320000,2187090808,1950s - 1970s,"(380100992.0, 5228953251.0]",2.804527e+09,2
3,Song of the South,1946,Adventure,G,65000000,1078510579,1950s - 1970s,"(380100992.0, 5228953251.0]",2.804527e+09,3
4,Cinderella,1950,Drama,G,85000000,920608730,1950s - 1970s,"(380100992.0, 5228953251.0]",2.804527e+09,4

In [17]:
df.to_csv("disney_movies_groups.csv")